:root {
  --poppins-font: "Poppins", sans-serif;
  --color-purple: #3e037a;
  --color-light-purple: #7e58ff;
  --color-bg-purple: #eedefe;
  --color-border-purple: #c6b5ff;
  --color-yellow: #e1ffcf;
  --color-dark-yellow: #a5f575;
  --color-gray: #d3d3d3;
  --color-secondary: #fafafa;
  --color-footer: #0e1027;
  --color-footer-text: #acacac;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}
body {
  font-family: var(--poppins-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
#header {
  height: 686px;
  background: linear-gradient(180deg, #7d00ff 0%, #0f041a 100%);
}
#header.seo {
  background: linear-gradient(180deg, #8000ff 7.5%, #a091ff 100%);
}
.header-brand {
  position: absolute;
  top: 60%;
  right: 29%;
  z-index: 9999;
}
.header-bg {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 0;
}
#header nav > div > div.desktop-nav {
  height: 102px;
  background: linear-gradient(
    180deg,
    #6c01da 0%,
    #7401eb 100%,
    #350368 100.01%
  );
  display: flex;
  align-items: center;
  border-radius: 0px 0px 30px 30px;
}
#header > div > h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  margin: 0;
}
#header > div > p {
  width: 65%;
  color: #ffffff;
  font-weight: 300;
  font-size: 21px;
  line-height: 31.5px;
  text-align: center;
  margin: 0;
}
.navbar-button {
  border: none;
}
.navbar-button:focus {
  border-color: #fff;
  box-shadow: 0px 0px 0px 2px #ffffff;
}
.navbar-button span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
  font-weight: 400;
  color: #ffffffda;
  font-size: 16px;
  line-height: 24px;
}
.nav-link:hover {
  color: #ffffff;
}
.white-field {
  background-color: #ffffff;
  width: 50%;
  border-radius: 30px 30px 0 0;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}
.gray-field {
  background-color: var(--color-secondary);
  width: 50%;
  border-radius: 30px 30px 0 0;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}
.seo-breadcrumb {
  background-color: #ffffff;
  width: 45%;
  border-radius: 30px 30px 0 0;
  position: absolute;
  left: -5%;
  bottom: 0%;
  color: #666;
  z-index: 99999;
}
.seo-breadcrumb a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #666;
  line-height: 24px;
}
.seo-breadcrumb a:hover {
  color: #000;
}
.seo-breadcrumb a i {
  font-size: 20px;
  color: var(--color-light-purple);
}

/* Buttons */
.arrow-button-yellow {
  border: none;
  padding: 6px 6px 6px 16px;
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  border-radius: 23.5px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.87px;
  letter-spacing: 0.15px;
  text-decoration: none;
}
.arrow-button-yellow i {
  background: var(--color-purple);
  color: var(--color-yellow);
  font-size: 20px;
  padding: 7.5px;
  display: inline-block;
  border-radius: 100%;
}
.arrow-button-yellow:hover {
  background: #ffffff;
}

.arrow-button-purple {
  border: none;
  padding: 9px 8px 9px 34px;
  background: var(--color-light-purple);
  display: flex;
  align-items: center;
  gap: 26px;
  color: #fff;
  border-radius: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.arrow-button-transparent i,
.arrow-button-purple i {
  background: white;
  color: var(--color-light-purple);
  font-size: 28px;
  padding: 7.5px;
  display: inline-block;
  border-radius: 100%;
}
.arrow-button-purple:hover {
  background: var(--color-purple);
}
.arrow-button-transparent {
  border: none;
  padding: 9px 8px 9px 0px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 18px;
  color: var(--color-light-purple);
  border-radius: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.arrow-button-transparent:hover,
.arrow-button-transparent:hover i {
  color: var(--color-purple);
}

.circle-button-transparent {
  border: none;
  padding: 9px 8px 9px 0px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 18px;
  color: #000;
  border-radius: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.circle-button-transparent i {
  background: var(--color-light-purple);
  color: #fff;
  font-size: 28px;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 100%;
}
.circle-button-transparent:hover i {
  background: var(--color-purple);
}

.icon-button-purple {
  padding: 20px;
  padding-right: 0px;
  border-radius: 30px;
  background-color: #bab5f666;
  border: 5px solid var(--color-light-purple);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  display: flex;
  align-items: center;
  gap: 22.5px;
  line-height: 26px;
  max-width: 300px;
}
.icon-button-purple span {
  width: 70%;
}
.icon-button-purple:hover {
  background-color: #bcb5f6a0;
}

.arrow-button-gray {
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #2e2e2e;
  text-decoration: none;
}
.arrow-button-gray i {
  display: none;
}
.arrow-button-gray:not(.active):hover {
  opacity: 0.8;
}
.arrow-button-gray.active {
  border: none;
  padding: 9px 8px 9px 34px;
  background: #ececec;
  display: flex;
  align-items: center;
  gap: 26px;
  color: #2e2e2e;
  border-radius: 30px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.arrow-button-gray.active i {
  background: white;
  color: var(--color-light-purple);
  font-size: 28px;
  padding: 7.5px;
  display: inline-block;
  border-radius: 100%;
}

/* Texts */
.regular-title {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 0;
}
.bold-title {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.plain-text {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0 16px;
}
.bg-yellow-text {
  color: #000;
  background-color: var(--color-yellow);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28.48px;
  text-align: left;
  margin: 0;
  padding: 7px 18px;
  border-radius: 7px;
}
/* Brands Carousel */
.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}
.owl-theme .owl-dots {
  display: none;
}
.owl-carousel .nav-btn {
  height: 50px;
  position: absolute;
  width: 50px;
  margin: -7px -40px !important;
  cursor: pointer;
  top: 20px !important;
}
.owl-carousel .prev-slide {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/></svg>')
    no-repeat scroll 0 0;
  left: -11px;
}
.owl-carousel .next-slide {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>')
    no-repeat scroll 0 0;
  right: -11px;
}

#exampleBrands > div > div:first-child {
  padding-left: 7.5%;
}
.heading {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin: 0 16px;
}
.heading2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: -50px 16px 15px 16px;
}
#exampleBrands > div > div > .plain-text {
  margin-top: -12.5px;
  width: 75%;
}
#exampleBrands > div > div > .results {
  margin-top: 5px;
  width: 106%;
  z-index: 999999;
  background-color: white;
  padding: 40px 20px 40px 0px;
  border-top-right-radius: 30px;
}
#exampleBrands > div > div > .results > div > div {
  border-right: 1px solid var(--color-gray);
}
#exampleBrands > div > div > .results > div > div:last-child {
  border-right: none;
}

#services {
  background-color: var(--color-secondary);
  position: relative;
}
.all-services {
  position: absolute;
  top: 50%;
  right: -84.5px;
  transform: translateY(-50%) rotate(-90deg);
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.12em;
  text-align: center;
  color: #fff;
  background-color: var(--color-light-purple);
  padding: 16px 20px;
  border-radius: 22.67px 22.67px 0px 0px;
}
.all-services:hover {
  background-color: var(--color-purple);
  color: #fff;
}

#offer {
  border-radius: 30px;
  background-color: var(--color-secondary);
  position: relative;
  margin-bottom: -175px;
}
#offer > div > div > .bold-title {
  line-height: 42px;
  width: 72%;
}
#offer > div > div > .plain-text {
  width: 60%;
}
#offer > div > form {
  border-radius: 30px;
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: -4px 5px 26.5px 0px rgba(0, 0, 0, 0.15);
}

.form-control {
  background-color: var(--color-secondary);
  border: none;
  padding: 16px 24px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000;
}
.form-control::placeholder {
  color: #3b3c3c;
}
textarea.form-control {
  resize: none;
}

/* Footer */
footer {
  padding-top: 250px;
  background-color: var(--color-footer);
}
.footer-title {
  color: var(--color-footer-text);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
.footer-text {
  margin: 0;
  width: 90%;
  color: var(--color-footer-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
}
.footer-text i {
  padding-right: 5px;
  color: #fff;
}
.footer-text span {
  color: var(--color-footer-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.contact-text {
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
footer > div > div > div > ul,
footer > div > div > div > div > div > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer > div > div > div > ul > li,
footer > div > div > div > div > div > ul > li {
  margin-bottom: 4px;
}
footer > div > div > div > ul > li > a,
footer > div > div > div > div > div > ul > li > a {
  color: var(--color-footer-text);
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
footer > div > div > div > a:hover,
footer > div > div > div > ul > li > a:hover,
footer > div > div > div > div > div > ul > li > a:hover {
  color: #fff;
}
.bottom-bar > div > a,
.bottom-bar > div > p {
  font-size: 14px;
}
.social-icons {
  color: #fff;
  font-size: 18px;
}
.social-icons:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
footer > div > hr {
  border: 0.5px solid #ffffff;
}

.main-brands > div > div > div {
  margin-bottom: -5px;
  background-color: var(--color-secondary);
  border-radius: 26px;
  padding: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.main-brands > div > div > div > p {
  font-family: var(--poppins-font);
  font-size: 12px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 0;
}
.main-brands .brand-img {
  background-color: var(--color-secondary);
  height: 155px;
  border-radius: 26px;
  border-top-left-radius: 0;
}
.main-brands a img {
  color: #666;
}
.main-brands a:hover img {
  opacity: 0.7;
}

#seo-services {
  background-color: var(--color-secondary);
  position: relative;
}
#seo-services hr {
  margin: 0 0 0 -20px;
  width: 32%;
  border: 1px solid #000;
}
#seo-services .service-title {
  font-size: 36px;
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}
#seo-services .arrow-box-header {
  display: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
}
#seo-services .arrow-box-header div {
  margin-bottom: -19px;
  background-color: #fff;
  border-radius: 26px;
  padding: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#seo-services .arrow-box-header a {
  margin-bottom: -7.5px;
  padding-left: 21px;
}
#seo-services .arrow-box-content {
  background-color: #fff;
  border-radius: 30px;
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: 306px !important;
}
#seo-services .arrow-box:hover .arrow-box-header {
  display: flex;
  z-index: 999999;
}
#seo-services .arrow-box:hover .arrow-box-header > div {
  background-color: var(--color-yellow) !important;
  border: 3px solid var(--color-dark-yellow);
  border-bottom: none;
}
#seo-services .arrow-box:hover .arrow-box-content {
  background-color: var(--color-yellow) !important;
  border: 3px solid var(--color-dark-yellow);
  border-top-left-radius: 0;
  padding-top: 0px;
  min-height: 250px !important;
  max-height: 230px !important;
}
#seo-services .arrow-box-content .seo-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}
#seo-services .arrow-box-content .seo-text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  line-height: 24px;
  margin-bottom: 0;
}

#whats-seo .sub-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
#whats-seo .regular-title {
  letter-spacing: normal;
}

.seo-box .header {
  border-radius: 26px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: -5px;
  box-shadow: -4px 5px 26.5px 0px #00000026;
  border-bottom: none;
}
.seo-box .content {
  background-color: #fff;
  box-shadow: -4px 5px 26.5px 0px #00000026;
  border-radius: 26px;
  border-top-left-radius: 0;
}
.seo-box .arrow-button-purple {
  font-size: 15px;
  padding: 5px 8px 5px 20px;
  justify-content: center !important;
}
.seo-box .arrow-button-purple i {
  font-size: 26px !important;
  padding: 4px;
}

#important-seo .sub-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.seo-customer-box {
  background-color: var(--color-bg-purple);
  border: 5px solid var(--color-border-purple);
  border-radius: 30px;
  width: 245px;
  height: 250px;
}
.seo-customer-box p {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

#important-seo {
  position: relative;
  background-color: var(--color-secondary);
  padding-top: 350px;
  margin-top: -350px;
  z-index: -1;
}
#important-seo .metrics i {
  font-size: 32px;
  color: var(--color-purple);
}
#important-seo .metrics p {
  width: 70%;
}

#how-seo {
  position: relative;
}
#how-seo > div {
  padding-bottom: 100px;
}
#how-seo .arrow-button-purple.active {
  background-color: var(--color-light-purple);
  font-size: 16px;
  line-height: 20px;
  border-radius: 35px;
  font-weight: 600;
  min-width: 300px;
  justify-content: space-between;
}
#how-seo .arrow-button-purple.active i {
  color: var(--color-light-purple);
  font-size: 32.5px;
  padding: 10.5px;
  background-color: #fff;
}
#how-seo .arrow-button-purple {
  background-color: #d1d3d4;
  font-size: 16px;
  line-height: 20px;
  border-radius: 35px;
  font-weight: 600;
  min-width: 300px;
  justify-content: space-between;
}
#how-seo .arrow-button-purple:not(.active):hover {
  background-color: #c0c1c2;
}
#how-seo .arrow-button-purple i {
  font-size: 32.5px;
  padding: 10.5px;
  background-color: #eaecee;
  color: #d1d3d4;
}
#how-seo .text-field {
  background-color: var(--color-secondary);
  border-radius: 20px;
}
#how-seo .text-field .title {
  font-size: 40px;
  font-weight: 300;
}
#how-seo .text-field .subject-title {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
#how-seo .text-field .fields div:first-child {
  border: 2px solid #dadada;
  border-radius: 12px;
}
#how-seo .text-field img {
  background: #ffffff66;
}
.fade:not(.show) {
  display: none !important;
  opacity: 0;
}
#how-seo .text-field .bold-title {
  font-size: 18px;
}

#seo-process {
  background-color: var(--color-secondary);
}
#seo-process .buttons {
  margin-top: -45px;
  z-index: 999999;
  gap: 100px;
}
.button-image {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(/assets/img/seo-sureci.webp);
  width: 100%;
  height: 593px;
  background-position: center;
}
.button-image .title-badge {
  background-color: #fff;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  color: #2e2e2e;
  top: 0;
  left: 12.5%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  margin: 0;
  padding: 24px;
}
.button-image .caption {
  position: absolute;
  top: 50%;
  left: 12.5%;
  transform: translate(0%, -50%);
  color: #fff;
  font-size: 64px;
  font-weight: 300;
  line-height: 71px;
  width: 20%;
  margin: 0;
}

@media screen and (min-width: 2000px) {
  .button-image .title-badge,
  .button-image .caption {
    left: 20%;
  }
}
@media screen and (min-width: 992px) {
  .navbar-collapse.navbar-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 1700px) {
  .button-image {
    width: 90%;
    height: 593px;
    /* height: 440px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .button-image .title-badge,
  .button-image .caption {
    left: 10%;
  }
}
@media screen and (max-width: 1400px) {
  .seo-box .responsiveImg {
    width: 100%;
    height: auto;
  }
  .seo-customer-box {
    width: 210px;
    height: 250px;
  }
  #how-seo .buttons > a:last-child {
    margin-top: 16px;
  }
}
@media screen and (max-width: 1360px) {
  #exampleBrands > div > div:first-child {
    padding-left: 1.5%;
  }
  #exampleBrands > div > div > .results {
    width: 125%;
  }
  .header-brand {
    right: 15%;
  }
  #seo-services hr {
    margin: 10px auto;
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .main-brands .brand-img img {
    max-width: 130%;
    height: auto;
  }
  .seo-box .google-ads {
    width: 180px;
    height: 60px;
  }
  .seo-customer-box {
    width: 250px;
    height: 250px;
  }
  .button-image {
    height: 440px;
  }
  .button-image .caption {
    padding-top: 60px;
    font-size: 50px;
    line-height: 60px;
    width: 20%;
  }
  #seo-process .buttons {
    justify-content: center;
    margin-top: 35px;
    gap: 100px;
  }
}
@media screen and (max-width: 992px) {
  .header-logo {
    width: 80%;
  }
  #exampleBrands > div > div:first-child {
    padding: 0px;
  }
  #exampleBrands > div > div > .results {
    width: 100%;
    padding: 0;
  }
  .brands-second-div {
    border: none !important;
  }
  .responsiveImg {
    max-width: 100%;
    height: auto;
  }
  .heading2 {
    font-size: 18px;
    margin: 0;
  }
  footer {
    padding-top: 235px;
  }
  #important-seo .metrics p {
    width: 100%;
  }
  #how-seo .buttons > a:last-child {
    margin-top: 0px;
  }
  .button-image .title-badge {
    font-size: 20px;
    padding: 20px;
  }
  .button-image .caption {
    font-size: 48px;
    line-height: 56px;
    width: 20%;
    padding-top: 60px;
  }
  #seo-process .buttons {
    margin-top: 35px;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  #header {
    height: 575px;
  }
  #header > div > h1 {
    font-size: 37.5px;
    line-height: 48px;
  }
  #header > div > p {
    width: 85%;
    font-size: 18px;
    line-height: 25px;
  }
  .gray-field,
  .white-field {
    width: 70%;
  }
  .seo-breadcrumb {
    width: 60%;
  }
  .seo-breadcrumb a {
    font-size: 14px;
  }
  .regular-title {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .bold-title {
    font-size: 30px;
  }
  .heading {
    font-size: 22px;
  }
  .seo-box .arrow-button-purple {
    font-size: 13px;
    padding: 4px 6px 4px 16px;
  }
  .seo-box .arrow-button-purple i {
    font-size: 18px !important;
    padding: 3px 5px;
  }
}
@media screen and (max-width: 640px) {
  .owl-carousel .prev-slide {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/></svg>')
      no-repeat scroll 0 0;
    left: -17px;
  }
  .owl-carousel .next-slide {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>')
      no-repeat scroll 0 0;
    right: -23px;
  }
  .owl-carousel .nav-btn {
    height: 50px;
    position: absolute;
    width: 33px;
    margin: -5px 11px !important;
    cursor: pointer;
    top: 20px !important;
  }
  #exampleBrands > div > div > .plain-text {
    margin-top: 0px;
    width: 88%;
  }
  #offer {
    border-radius: 0px;
  }
  #offer > div > div > .bold-title {
    line-height: 36px;
    width: 90%;
  }
  #offer > div > div > .plain-text {
    width: 90%;
  }
  #offer > div > form {
    padding: 20px;
  }
  .all-services {
    display: none;
  }
  .seo-customer-box {
    width: 100%;
  }
}
@media screen and (max-width: 465px) {
  #header > div > h1 {
    font-size: 30px;
    line-height: 40px;
  }
  #header > div > p {
    font-size: 16.5px;
  }
  .bg-yellow-text {
    font-size: 14px;
    padding: 6px 15px;
  }
  .regular-title {
    font-size: 14px;
    letter-spacing: 0.05em;
  }
  .bold-title {
    font-size: 26px;
  }
  .plain-text {
    text-align: justify !important;
    font-size: 15px;
    line-height: 22px;
  }
  .arrow-button-purple {
    padding: 6px 6px 6px 28px;
    gap: 22px;
    font-size: 16.5px;
  }
  .arrow-button-transparent {
    font-size: 16.5px;
  }
  .arrow-button-transparent i,
  .arrow-button-purple i {
    font-size: 23px;
    padding: 7.5px;
  }
  .circle-button-transparent {
    font-size: 16.5px;
  }
  .circle-button-transparent i {
    font-size: 20px;
    padding: 3px 9px;
  }
  .icon-button-purple {
    padding: 18px;
    padding-right: 0px;
    font-size: 18px;
    gap: 18.5px;
    line-height: 24px;
    max-width: 300px;
  }
  .icon-button-purple img {
    width: 38px;
    height: 38px;
  }
  .arrow-button-gray.active {
    padding: 6px 6px 6px 28px;
    font-size: 20px;
  }
  .arrow-button-gray {
    font-size: 20px;
  }
  #exampleBrands > div > div > .plain-text {
    width: 84%;
  }
  #offer > div > div > .bold-title,
  #offer > div > div > .plain-text {
    width: 100%;
  }
  .footer-text,
  .footer-text span {
    text-align: justify;
    width: 100%;
    font-size: 15px;
  }
  .contact-text {
    font-size: 18.5px;
  }
  .main-brands .brand-img img {
    max-width: 110%;
  }
  .seo-breadcrumb {
    width: 80%;
    left: -7%;
  }
  #seo-services .arrow-box .seo-title {
    font-size: 20px;
    line-height: 50px;
  }
  #seo-services .arrow-box:hover .arrow-box-content {
    min-height: 325px !important;
  }
  .seo-box .arrow-button-purple {
    display: none;
  }
  .seo-box .google-ads {
    width: 160px;
    height: 50px;
  }
  .seo-box .google-analytics {
    width: 190px;
    height: 40px;
  }
  #how-seo .text-field .title {
    font-size: 30px;
  }
  .button-image .title-badge {
    font-size: 16.5px;
    padding: 20px;
  }
}
