@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --ibm-font: "IBM Plex Sans", sans-serif;
  --ibm-mono-font: "IBM Plex Mono", sans-serif;
  --poppins-bold-700: "Poppins Bold", sans-serif;
  --poppins-semibold-600: "Poppins SemiBold", sans-serif;
  --poppins-medium-500: "Poppins Medium", sans-serif;
  --poppins-regular-400: "Poppins Regular", sans-serif;
  --color-purple: #3e037a;
  --color-light-purple: #7e58ff;
  --color-bg-purple: #eedefe;
  --color-border-purple: #c6b5ff;
  --color-yellow: #e1ffcf;
  --color-dark-yellow: #a5f575;
  --color-gray: #d3d3d3;
  --color-secondary: #fafafa;
  --color-footer: #0e1027;
  --color-footer-text: #acacac;
}
@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Poppins Bold"),
    url("/assets/fonts/Poppins-Bold.woff") format("woff");
}
@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Poppins SemiBold"),
    url("/assets/fonts/Poppins-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Poppins Medium"),
    url("/assets/fonts/Poppins-Medium.woff") format("woff");
}
@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("Poppins Regular"),
    url("/assets/fonts/Poppins-Regular.woff") format("woff");
}
@font-face {
  font-family: "IBM Plex Sans", sans-serif;
}
body {
  font-family: var(--poppins-regular-400);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
#header {
  padding: 0;
  height: 686px;
  background: linear-gradient(180deg, #7d00ff 0%, #0f041a 100%);
}
.header-bg {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 0;
}
#header nav > div > div.desktop-nav {
  height: 102px;
  background: linear-gradient(
    180deg,
    #6c01da 0%,
    #7401eb 100%,
    #350368 100.01%
  );
  display: flex;
  align-items: center;
  border-radius: 0px 0px 30px 30px;
}
#header .header-main {
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#header.row-finder .header-main {
  top: 47%;
}

#header > div > h1 {
  color: #ffffff;
  font-family: var(--poppins-bold-700);
  font-size: 46px;
  line-height: 64px;
  text-align: center;
  margin: 0;
}
#header > div > div > h1 {
  color: #ffffff;
  font-family: var(--poppins-bold-700);
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  margin: 0;
}
#header > div > div > p {
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 31.5px;
  text-align: start;
  margin: 0;
}
#header > div > p {
  width: 65%;
  color: #ffffff;
  font-size: 19px;
  line-height: 31.5px;
  text-align: center;
  margin: 0;
}
#header > div > p.header-author strong {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#header.row-finder {
  height: 600px;
  background: linear-gradient(180deg, #742dd2 0%, #3c176c 100%);
}
#header.about,
#header.corporate-seo {
  height: 580px;
}
#header.corporate-seo {
  background: linear-gradient(180deg, #7301e9 22%, #7469ff 100%);
}
#header.web-design {
  background: linear-gradient(180deg, #8000ff 7.5%, #a091ff 100%);
}
#header.web-design .arrow-button-yellow {
  padding: 5px 5px 5px 27.5px;
  gap: 16px;
  color: var(--color-light-purple);
}
#web-design-content .round-card-button .arrow-button-purple i,
#header.web-design .arrow-button-yellow i {
  color: #fff;
  background-color: var(--color-light-purple);
}
.navbar {
  z-index: 9999;
}
.navbar-button {
  border: none;
}
.navbar-button:focus {
  border-color: #fff;
  box-shadow: 0px 0px 0px 2px #ffffff;
}
.navbar-button span {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
  color: #ffffffda;
  font-size: 16px;
  line-height: 24px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #fff;
}
.nav-link:hover {
  color: #ffffff;
}
.navbar-mobile {
  z-index: 99999;
  box-shadow: #00000047 0px 15px 20px 5px, #fff0 0 0 0 1px;
  border-radius: 12px;
  padding: 14px 20px;
  background-color: #4b1d87;
  position: relative;
  top: -5px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
  background-color: var(--color-light-purple);
}
.white-field {
  padding: 20px 0;
  background-color: #ffffff;
  width: 50%;
  border-radius: 30px 30px 0 0;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}
.gray-field {
  padding: 20px 0;
  background-color: var(--color-secondary);
  width: 50%;
  border-radius: 30px 30px 0 0;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}
.seo-breadcrumb.web {
  background-color: transparent;
  color: #fafafa;
  top: 0;
}
.seo-breadcrumb.web a {
  color: #fafafa;
}
.seo-breadcrumb.web a:hover {
  color: #fff;
}
.seo-breadcrumb.web a i {
  color: #fafafa;
}
.seo-breadcrumb {
  background-color: #ffffff;
  width: 40%;
  border-radius: 0 30px 0 0;
  position: absolute;
  bottom: 0%;
  color: #666;
  z-index: 99999;
}
.seo-breadcrumb a {
  text-decoration: none;
  font-size: 16px;
  color: #666;
  line-height: 24px;
}
.seo-breadcrumb a:hover {
  color: #000;
}
.seo-breadcrumb a i {
  font-size: 20px;
  color: var(--color-light-purple);
}

/* Buttons */
.arrow-button-yellow {
  border: none;
  padding: 6px 6px 6px 16px;
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  border-radius: 23.5px;
  font-family: Poppins;
  font-size: 16px;
  font-family: var(--poppins-bold-700);
  line-height: 18.87px;
  letter-spacing: 0.15px;
  text-decoration: none;
}
.arrow-button-yellow i {
  background: var(--color-purple);
  color: var(--color-yellow);
  font-size: 20px;
  padding: 7.5px;
  display: inline-block;
  border-radius: 100%;
}
#web-design-content .round-card-button .arrow-button-purple:hover,
.circle-button-transparent:hover,
.arrow-button-yellow:hover {
  color: var(--color-purple);
  background: #ffffff;
}
#web-design-content .round-card-button .arrow-button-purple:hover i {
  background-color: var(--color-purple);
  color: #fff;
}
.arrow-button-purple {
  border: none;
  padding: 6.5px 8px 6.5px 30px;
  background: var(--color-light-purple);
  display: flex;
  align-items: center;
  gap: 26px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-family: Poppins;
  font-size: 16.5px;
  font-family: var(--poppins-bold-700);
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.arrow-button-transparent i,
.arrow-button-purple i {
  background: white;
  color: var(--color-light-purple);
  font-size: 24px;
  padding: 7px;
  display: inline-block;
  border-radius: 100%;
}
.arrow-button-purple:hover {
  background: var(--color-purple);
  color: #fff;
}
.arrow-button-transparent {
  border: none;
  padding: 9px 8px 9px 0px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 18px;
  color: var(--color-light-purple);
  border-radius: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-family: var(--poppins-bold-700);
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.arrow-button-transparent:hover,
.arrow-button-transparent:hover i {
  color: var(--color-purple);
}

.circle-button-transparent {
  border: none;
  padding: 9px 8px 9px 0px;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 18px;
  color: #000;
  border-radius: 30px;
  font-family: Poppins;
  font-size: 20px;
  font-family: var(--poppins-bold-700);
  letter-spacing: 0.2px;
  text-decoration: none;
}
.circle-button-transparent i {
  background: var(--color-light-purple);
  color: #fff;
  font-size: 28px;
  padding: 3px 10px;
  display: inline-block;
  border-radius: 100%;
}
.circle-button-transparent:hover i {
  background: var(--color-purple);
}

.icon-button-purple {
  padding: 20px;
  padding-right: 0px;
  border-radius: 30px;
  background-color: #bab5f666;
  border: 5px solid var(--color-light-purple);
  text-decoration: none;
  font-size: 20px;
  font-family: var(--poppins-bold-700);
  color: #000;
  display: flex;
  align-items: center;
  gap: 22.5px;
  line-height: 26px;
  max-width: 300px;
}
.icon-button-purple span {
  width: 70%;
}
.icon-button-purple:hover {
  background-color: #bcb5f6a0;
}

.arrow-button-gray {
  font-size: 24px;
  font-family: var(--poppins-medium-500);
  line-height: 40px;
  text-align: left;
  color: #2e2e2e;
  text-decoration: none;
}
.arrow-button-gray i {
  display: none;
}
.arrow-button-gray:not(.active):hover {
  opacity: 0.8;
}
.arrow-button-gray.active {
  border: none;
  padding: 9px 8px 9px 34px;
  background: #ececec;
  display: flex;
  align-items: center;
  gap: 26px;
  color: #2e2e2e;
  border-radius: 30px;
  font-family: Poppins;
  font-size: 24px;
  font-family: var(--poppins-medium-500);
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.arrow-button-gray.active i {
  background: white;
  color: var(--color-light-purple);
  font-size: 28px;
  padding: 7.5px;
  display: inline-block;
  border-radius: 100%;
}

/* Texts */
.regular-title {
  color: #000000;
  font-size: 16.5px;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 0;
}
.bold-title {
  color: #000000;
  font-size: 24.5px;
  font-family: var(--poppins-bold-700);
  text-align: center;
  margin: 0;
}
.plain-text {
  color: #000000;
  font-size: 15.5px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}
.bg-yellow-text {
  color: #000;
  background-color: var(--color-yellow);
  font-family: Poppins;
  font-size: 15.5px;
  line-height: 28.48px;
  text-align: left;
  margin: 0;
  padding: 6px 16px;
  border-radius: 7px;
}
#exampleBrands > div > div:first-child {
  padding-left: 7.5%;
}
.heading {
  font-size: 20.5px;
  font-family: var(--poppins-bold-700);
  text-align: left;
  margin: 0;
}
.heading2 {
  font-size: 20px;
  font-family: var(--poppins-bold-700);
  text-align: center;
  margin: -50px 16px 15px 16px;
}
#exampleBrands > div > div > .plain-text {
  margin-top: -12.5px;
  width: 75%;
}
#exampleBrands > div > div > .results {
  margin-top: 5px;
  width: 106%;
  z-index: 999999;
  background-color: white;
  padding: 40px 20px 40px 0px;
  border-top-right-radius: 30px;
}
#exampleBrands > div > div > .results > div > div {
  border-right: 1px solid var(--color-gray);
}
#exampleBrands > div > div > .results > div > div:last-child {
  border-right: none;
}

/* Slider */
#card-slider.web .swiper-slide {
  max-width: 500px !important;
  height: 450px;
  justify-content: start;
  padding: 40px;
  box-shadow: -4px 5px 26.5px 0px #00000015;
}
#card-slider.web {
  margin-left: 0%;
}
#card-slider.web .swiper-wrapper {
  margin-left: -350px;
}
#card-slider.web .swiper-slide .bold-title {
  font-size: 30px;
  line-height: 38px;
}
#card-slider {
  margin-left: 9%;
}
#card-slider .swiper {
  width: 100%;
}
#card-slider .swiper-wrapper {
  margin-left: -450px;
}
#card-slider .swiper-slide {
  max-width: 600px !important;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-radius: 22px;
  z-index: 1;
}
#card-slider .swiper-slide .bold-title {
  font-size: 34px;
  line-height: 42px;
  text-align: start;
}
#card-slider .swiper-slide .plain-text {
  width: 80%;
}
#card-slider .swiper-slide .arrow-button-purple {
  background-color: #d1d3d4;
  padding: 6px 8px 6px 34px;
  font-size: 16px;
  letter-spacing: 0.15px;
}
#card-slider .swiper-slide .arrow-button-purple i {
  background-color: #eaecee;
  font-size: 22px;
  padding: 5.5px 6px;
  color: #d1d3d4;
}
#card-slider .swiper-slide.swiper-slide-active {
  border: 5px solid #914bff;
  box-shadow: -4px 5px 26.5px 0px #00000026;
  background: #e0def8;
}
#card-slider .swiper-slide.swiper-slide-active .arrow-button-purple:hover {
  background-color: var(--color-purple);
}
#card-slider .swiper-slide.swiper-slide-active .arrow-button-purple {
  background-color: var(--color-light-purple);
  padding: 6px 8px 6px 34px;
  font-size: 16px;
  letter-spacing: 0.15px;
}
#card-slider .swiper-slide.swiper-slide-active .arrow-button-purple i {
  font-size: 22px;
  color: var(--color-light-purple);
  padding: 5.5px 6px;
}
#card-slider .swiper-button-next,
.swiper-button-prev {
  background-image: url(https://www.seopix.net/front/assets/images/prev.svg);
  width: 42px !important;
  height: 42px !important;
  color: transparent !important;
}
#card-slider .swiper-button-next {
  transform: scaleX(-1);
}

#services {
  background-color: var(--color-secondary);
  position: relative;
}
.all-services {
  z-index: 99999;
  position: absolute;
  top: 50%;
  right: -78.5px;
  transform: translateY(-50%) rotate(-90deg);
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.12em;
  text-align: center;
  color: #fff;
  background-color: var(--color-light-purple);
  padding: 14px 18px;
  border-radius: 22.67px 22.67px 0px 0px;
}
.all-services:hover {
  background-color: var(--color-purple);
  color: #fff;
}

#offer {
  border-radius: 30px;
  background-color: var(--color-secondary);
  position: relative;
  margin-bottom: -175px;
}
#offer form .form-info .bold-title {
  font-size: 27.5px;
  line-height: 38px;
}
#offer form .form-info .plain-text {
  width: 75%;
}
#offer .form {
  border-radius: 30px;
  background-color: #fff;
  padding: 20px 30px;
  box-shadow: -4px 5px 26.5px 0px rgba(0, 0, 0, 0.15);
}
.form-select,
.form-control {
  background-color: var(--color-secondary);
  border: none;
  padding: 16px 24px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #000;
}
.form-control::placeholder {
  color: #3b3c3c;
}
textarea.form-control {
  resize: none;
}
#blog img {
  border-radius: 16px;
  object-fit: cover;
}
.author {
  padding: 0 50px;
}
.author a {
  text-decoration: none;
}
.author .blog {
  font-size: 16px;
  font-family: var(--poppins-semibold-600);
}
.author .text {
  font-size: 15px;
}
.author i {
  color: var(--color-light-purple);
}

/* Footer */
footer {
  padding-top: 250px;
  background-color: var(--color-footer);
}
.footer-title {
  color: var(--color-footer-text);
  font-size: 20px;
  font-family: var(--poppins-bold-700);
  line-height: 30px;
  text-align: left;
}
.footer-text {
  margin: 0;
  width: 90%;
  color: var(--color-footer-text);
  font-size: 15.5px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
}
.footer-text i {
  padding-right: 5px;
  color: #fff;
}
.footer-text span {
  color: var(--color-footer-text);
  font-size: 16px;
  font-family: var(--poppins-bold-700);
  line-height: 24px;
}
.contact-text {
  margin: 0;
  color: #fff;
  font-size: 19px;
  font-family: var(--poppins-bold-700);
  line-height: 30px;
  text-align: left;
}
footer > div > div > div > ul,
footer > div > div > div > div > div > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer > div > div > div > ul > li,
footer > div > div > div > div > div > ul > li {
  margin-bottom: 4px;
}
footer > div > div > div > ul > li > a,
footer > div > div > div > div > div > ul > li > a {
  color: var(--color-footer-text);
  text-decoration: none;
  font-size: 14px;
  text-align: left;
}
footer > div > div > div > a:hover,
footer > div > div > div > ul > li > a:hover,
footer > div > div > div > div > div > ul > li > a:hover {
  color: #fff;
}
.bottom-bar > div > a,
.bottom-bar > div > p {
  font-size: 14px;
}
.social-icons {
  color: #fff !important;
  font-size: 18px;
}
.social-icons:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}
footer > div > hr {
  border: 0.5px solid #ffffff;
}

.main-brands > a > div > div:first-child {
  margin-bottom: -20px;
  background-color: var(--color-secondary);
  border-radius: 26px;
  padding: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.main-brands > a {
  color: #212529;
  font-family: var(--poppins-font);
  font-size: 12px;
  font-family: var(--poppins-semibold-600);
  line-height: 21px;
  margin-bottom: 0;
  text-decoration: none;
}
.main-brands .brand-img {
  background-color: var(--color-secondary);
  height: 155px;
  border-radius: 26px;
  border-top-left-radius: 0;
}
.main-brands a img {
  color: #666;
}
.main-brands a:hover img {
  opacity: 0.7;
}

#seo-tools > div > div {
  row-gap: 35px;
}
/* .fade:not(.show) {
  display: none !important;
  opacity: 0;
} */

#faq {
  border-radius: 30px;
  background-color: var(--color-secondary);
  position: relative;
  margin-bottom: -175px;
}
#faq.marketing {
  padding-bottom: 200px;
  margin-bottom: -217px;
  border-radius: 0;
}
#faq .bold-title {
  width: 60%;
  line-height: 37px;
}
#faq .plain-text {
  width: 70%;
}
#faq ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  list-style-type: none;
}
#faq .accordion-item {
  background: white !important;
  border: none;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14) !important;
  border-radius: 15px !important;
}
#faq .accordion-button {
  font-family: var(--poppins-bold-700);
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  color: var(--bs-accordion-btn-color);
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border: 0;
  border-radius: 15px;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}
#faq .accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: inset 0 -1px 0 #fff !important;
}
#faq .accordion-button:not(.collapsed)::before {
  background-image: url(https://www.seopix.net/front/assets/images/plus-add.svg);
}
#faq .accordion-button::before {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background-image: url(https://www.seopix.net/front/assets/images/plus.svg);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  margin-left: 0;
  margin-right: 20px;
}
#faq .accordion-button::after,
#faq .accordion-button:not(.collapsed)::after {
  display: none;
}
#faq .accordion-body {
  color: #212529;
  font-size: 15.5px;
  line-height: 24px;
  padding-left: 60px;
  padding-right: 60px;
}
#faq .accordion-links li.active {
  font-family: var(--poppins-bold-700);
  border-bottom: 2px solid var(--color-light-purple);
  padding-bottom: 12.5px;
}
#faq.marketing.purple-field {
  padding-bottom: 250px;
  margin-bottom: -285px;
  border-radius: 0;
  background-color: var(--color-light-purple);
}
#faq.marketing.purple-field .plain-text {
  font-size: 20px;
  font-family: var(--poppins-bold-700);
  color: #fff;
}
#faq.marketing.purple-field .title {
  font-size: 24px;
  font-family: var(--poppins-bold-700);
  color: #fff;
  text-align: center;
}
#faq.marketing.purple-field a {
  text-decoration: none;
}
#faq.marketing.purple-field a:hover {
  opacity: 0.8;
}
#faq.marketing.purple-field div > div {
  row-gap: 50px;
}
#faq.marketing.purple-field hr {
  color: #fff;
}
.dark-bg {
  background-color: var(--color-secondary) !important;
}

#finder-tools .sub-title {
  font-size: 18px;
  font-family: var(--poppins-bold-700);
  line-height: 28px;
  color: #000;
  text-align: center;
}
#finder-tools .tools-box {
  background-color: var(--color-bg-purple);
  border: 5px solid var(--color-border-purple);
  border-radius: 30px;
  width: 24%;
}
#finder-tools .tools-box .title {
  font-size: 19px;
  line-height: 24px;
  font-family: var(--poppins-bold-700);
  color: var(--color-light-purple);
  margin-bottom: 0;
}
#finder-tools .tools-box .text {
  font-family: var(--poppins-medium-500);
  font-size: 15.5px;
  line-height: 22.5px;
  margin-bottom: 0;
  word-break: break-word;
}

#row-finder-tool {
  position: relative;
  padding: 100px 0;
  background-color: var(--color-secondary);
}
#row-finder-tool > div:first-child {
  margin-top: -255px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: -4px 5px 26.5px 0px #0000001a;
}

#row-finder-tool .heading {
  font-size: 18.5px;
  font-family: var(--poppins-bold-700);
  line-height: 34px;
}
#row-finder-tool a {
  text-decoration: none;
  color: #012670;
}
#row-finder-tool .form-select,
#row-finder-tool .form-control {
  background-color: var(--color-secondary);
  padding: 19px 23px;
  border-radius: 20px;
  font-size: 15px;
}
#row-finder-tool .form-control::placeholder {
  color: #c1c1c1;
}
#row-finder-tool .arrow-button-purple {
  font-size: 16px;
  padding: 5px 8px 5px 40px;
}
#row-finder-tool .arrow-button-purple i {
  font-size: 20px;
  padding: 3px 4px;
}
#row-finder-tool .green-text {
  font-size: 18px;
  font-family: var(--poppins-bold-700);
  background-color: var(--color-yellow);
  text-align: center;
  border-radius: 20px;
  margin-bottom: 0;
}
#row-finder-tool .table tbody tr td {
  padding: 30px 20px;
  vertical-align: middle;
}
#row-finder-tool .table thead th span {
  background-color: #fafafa;
  font-size: 15px;
  line-height: 24px;
  padding: 4px 16px;
  border-radius: 9px;
}
table.table > tbody > tr:hover td,
table.table > tbody > tr:hover th {
  background-color: var(--color-yellow) !important;
}
#row-finder-tool .table tbody tr td:first-child {
  font-family: var(--poppins-bold-700);
  font-size: 18px;
  text-align: center;
}
#row-finder-tool .table tbody tr td:nth-child(3),
#row-finder-tool .table tbody tr td:nth-child(4) {
  font-family: var(--poppins-bold-700);
  text-align: center;
  font-size: 20px;
}
.serp-description,
#row-finder-tool .description {
  font-size: 16px;
  color: #000;
  margin-top: 10px;
}

#seo-contents {
  font-family: var(--ibm-font);
}
#seo-contents .sub-title {
  font-family: var(--ibm-font);
  font-size: 20px;
  font-weight: 600;
}
#seo-contents .start-text {
  font-size: 18.5px;
  font-weight: 400;
  line-height: 31px;
}
#seo-contents .plain-text {
  font-size: 16px;
}
#seo-contents .plain-text a {
  font-family: var(--ibm-font);
  font-size: 16px;
  font-weight: 700;
  color: var(--color-light-purple);
}
#seo-contents .seo-questions {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  color: #000;
}
#seo-contents .seo-questions p {
  font-family: var(--ibm-font);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
#seo-contents .seo-questions li {
  padding-left: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--ibm-font);
  font-size: 16px;
  font-weight: 600;
}
#seo-contents .examples {
  padding-left: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #000;
}
#seo-contents .examples span {
  padding: 1px 18px;
  border-radius: 20px;
  background-color: var(--color-yellow);
}
#seo-contents .examples span.red {
  background-color: #ffa4a5;
}
#seo-contents .examples p {
  margin: 0;
}
#seo-contents .seo-heading {
  font-family: var(--poppins-semibold-600);
  font-size: 18px;
}
#seo-contents .subject {
  display: flex;
  align-items: center;
  background-color: #eeedfe;
  padding: 5px 25px;
  min-height: 125px;
}
#seo-contents .subject div {
  margin-left: 20px;
}
#seo-contents .subject span {
  font-weight: 600;
  font-size: 18px;
}
#seo-contents .subject p {
  font-size: 23px;
  margin: 0;
  font-family: var(--poppins-bold-700);
}
#seo-contents .sub-list {
  padding: 16px 0;
}
#seo-contents .sub-list:not(:last-child) {
  border-bottom: 0.5px solid var(--color-footer-text);
}
#seo-contents .sub-list p {
  font-family: var(--ibm-mono-font);
  font-weight: 700;
  font-size: 18px;
  padding-left: 20px;
  margin: 0;
  color: var(--color-light-purple);
}
#seo-contents .sub-list.gray p {
  color: #666;
}
#seo-contents .purple-text {
  background-color: #a091ff;
  margin: 36px 0;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
}
.img-purple {
  background-color: var(--color-bg-purple);
  border-radius: 15px;
  padding: 17.5px;
}
.contents .title {
  font-size: 24px;
  font-family: var(--poppins-bold-700);
  margin-bottom: 0;
}
.contents hr {
  border: 0.5px solid #b1b1b1;
  width: 70%;
  margin: 30px 0;
}
.contents .tag {
  max-width: 325px;
  display: flex;
  align-items: start;
  gap: 16px;
  background-color: var(--color-yellow);
  font-size: 16px;
  font-family: var(--poppins-medium-500);
  line-height: 24px;
  text-decoration: none;
  color: #000;
  border-radius: 14px;
  padding: 20px 41px 20px 20px;
}
.contents .tag:hover {
  background-color: #cffdb4;
}
.contents .tag p {
  margin: 0;
}
.contents .contact svg {
  color: var(--color-light-purple);
}
.contents .contact .location,
.contents .contact a {
  font-size: 14.5px;
  text-decoration: none;
  color: #2e2e2e;
  margin: 0;
  font-family: var(--poppins-medium-500);
}
.contents .contact a:hover {
  text-decoration: underline;
}
.contents .contact-desc {
  font-family: var(--poppins-regular-400);
}
.contents .contact-hr {
  border: 0.5px solid #b1b1b1;
  width: 100%;
  margin: 40px 0;
}
.contents .contact.arrow-button-purple {
  padding: 5px 8px 5px 24px;
  gap: 16px;
  font-size: 15px;
}
.contents .contact.arrow-button-purple i {
  padding: 4px 6px;
}

.content-box {
  position: relative;
  background-color: var(--color-secondary);
  padding: 37.5px 42.5px;
  border-radius: 30px;
  margin-bottom: 80px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content-box .button-div {
  padding: 12.5px;
  position: absolute;
  bottom: -50px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  right: 0;
  background-color: var(--color-secondary);
}
.content-box .button-div .arrow-button-purple {
  font-size: 15.5px;
  padding: 5px 6px 5px 24px;
  gap: 10px;
}
.content-box .button-div .arrow-button-purple i {
  padding: 3px 7px 6px 7px;
}
.content-box .title {
  font-family: var(--poppins-medium-500);
  line-height: 46px;
  color: var(--color-light-purple);
  margin: 0;
  font-size: 38px;
}
.content-box .text {
  font-family: var(--ibm-font);
  width: 75%;
  font-weight: 400;
}

.corporate-seo-box {
  background-color: var(--color-bg-purple);
  border: 5px solid var(--color-border-purple);
  border-radius: 30px;
  max-width: 490px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.corporate-seo-box .title {
  font-size: 24px;
  font-family: var(--poppins-bold-700);
  line-height: 30px;
  margin: 0;
}
.modal-header {
  padding: 0rem 1rem;
  border: none;
}
.modal-content {
  border: none;
  border-radius: 12px;
  background: #ffffff;
  background: conic-gradient(from 225deg, #ffffff, #fafafa);
}
.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 1rem 1.5rem;
}
.modal-body .title {
  color: #000;
  font-family: var(--poppins-medium-500);
  font-size: 17px;
  margin-bottom: 0;
  text-align: center;
}
#teklifModal {
  z-index: 9999999;
}
#teklifModal .arrow-button-purple {
  padding: 6px 8px 6px 30px;
  background: var(--color-light-purple);
  gap: 16px;
  font-size: 18px;
}
#teklifModal .arrow-button-purple i {
  font-size: 24px;
  padding: 6.5px;
}
#teklifModal .arrow-button-purple:hover {
  background: var(--color-purple);
}
#teklifModal .form-select,
#teklifModal .form-control {
  background-color: #f6f6f6;
}

.about-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border-radius: 30px;
  opacity: 0.2;
  background-image: radial-gradient(
      #7e58ff 0.8500000000000001px,
      transparent 0.8500000000000001px
    ),
    radial-gradient(#7e58ff 0.8500000000000001px, #ffffff 0.8500000000000001px);
  background-size: 34px 34px;
  background-position: 0 0, 20px 20px;
  z-index: -1;
}
.about-box {
  position: relative;
  padding: 30px;
  text-align: center;
}
.counter {
  color: #7e58ff;
  font-size: 48px;
  font-family: var(--poppins-bold-700);
  letter-spacing: 2px;
  margin: 0;
}
.counter-text {
  font-size: 15.5px;
  color: var(--color-footer-text);
}
#our-team > div > div > p {
  text-align: center !important;
}
.team-profile {
  position: relative;
  margin-bottom: 25px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 1;
  border-radius: 15px;
  -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
  box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}
.team-profile .profile-info {
  position: relative;
  z-index: 1;
  border-radius: 15px 15px 0 0;
  margin: 0 auto;
  background-color: var(--color-light-purple);
  overflow: hidden;
}
.team-profile .profile-info::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  width: 150%;
  height: 75px;
  bottom: -45px;
  left: -30%;
  content: "";
  background-color: #ffffff;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.team-profile .profile-info .social-info {
  position: absolute;
  z-index: 1;
  width: 100%;
  bottom: 0;
  right: 30px;
  text-align: right;
}
.team-profile .profile-info .social-info a {
  font-size: 14.5px;
  color: var(--color-light-purple);
  padding: 0 0 0 5px;
  text-decoration: none;
}
.team-profile .details {
  position: relative;
  z-index: 1;
  padding: 30px;
  text-align: right;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 0 0 15px 15px;
  background-color: #ffffff;
}
.team-profile .details::after {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: absolute;
  z-index: 1;
  width: 55px;
  height: 3px;
  background-color: var(--color-light-purple);
  content: "";
  top: 12px;
  right: 30px;
}
.team-profile .details h3 {
  font-size: 18.5px;
  margin-bottom: 0.25rem;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.team-profile .details .designation {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  margin-bottom: 0;
  font-size: 14px;
}
.team-profile:hover .profile-info::after,
.team-profile:hover .details {
  background-color: var(--color-light-purple);
}
.team-profile:hover {
  transform: translateY(-10px);
}

.team-profile:hover .details h3,
.team-profile:hover .details p,
.team-profile:hover .profile-info .social-info a {
  color: #ffffff;
}
.team-profile:hover .details::after {
  background-color: #ffffff;
}

/* Web Projects */

#web-projects .projects {
  row-gap: 20px;
}
.image-container {
  position: relative;
  width: 100%;
  max-width: 800px;
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #5302a7 0%, #36036b 100%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 10px;
}
.image-container:hover .overlay {
  opacity: 0.8;
}
.overlay .sector {
  margin: 0;
  padding: 0 0 20px 60px;
  font-size: 36px;
  font-family: var(--poppins-bold-700);
  line-height: 48px;
}
.overlay a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  margin: 0 0 0 60px;
  border-top: 2px solid white;
  padding: 20px 60px 0 0;
  font-size: 15.5px;
  font-family: var(--poppins-bold-700);
  line-height: 24px;
  letter-spacing: 0.2px;
}
.overlay a i {
  margin-left: 5px;
  font-size: 18.5px;
}
.overlay a:hover {
  text-decoration: underline;
}
.doc-purple {
  border: 2px solid #dadada;
  background: #ffffff66;
  border-radius: 15px;
}
.principles {
  row-gap: 40px;
}
.principles .bold-title {
  font-size: 21.5px;
  text-align: start !important;
}
#web-design-content {
  position: relative;
  padding: 0;
  margin-top: -80px;
}
#web-design-content .web-wrap {
  padding: 0 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#web-design-content > img {
  min-height: 700px;
  object-fit: cover;
}
#web-design-content .round-card-button .body {
  padding: 66px 54px 66px 54px;
}
#web-design-content .round-card-button .arrow-button-purple {
  background-color: var(--color-yellow);
  color: var(--color-light-purple);
}
#web-design-service {
  background: var(--color-bg-purple);
}
.round-card-button .header div:first-child {
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.round-card-button .body {
  margin-top: -1px;
  padding: 30px 54px 42px 54px;
  background-color: #fff;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.round-card-button .arrow-button-purple {
  font-size: 12.5px;
  padding: 5px 3px 5px 10px;
  justify-content: space-evenly;
  gap: 5px;
}
.round-card-button .arrow-button-purple i {
  font-size: 16px;
  padding: 1px 5px;
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  #card-slider .swiper-wrapper {
    margin-left: -230px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1800px) {
  #seo-contents > .seo.col-lg-5 {
    width: 50%;
  }
}
@media screen and (max-width: 1600px) {
  .author {
    padding: 0px 25px;
  }
}
@media screen and (max-width: 1400px) {
  .seoImg {
    width: 500px;
    height: 500px;
  }
  #card-slider .swiper-wrapper {
    margin-left: -100px;
  }
  #web-design-service .responsiveImg,
  #seo-contents .responsiveImg,
  .team-profile .profile-info .responsiveImg {
    width: 100%;
    height: auto;
  }
  .round-card-button .arrow-button-purple {
    font-size: 10.5px;
  }
}
@media screen and (max-width: 1360px) {
  #exampleBrands > div > div:first-child {
    padding-left: 1.5%;
  }
  #exampleBrands > div > div > .results {
    width: 125%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1300px) {
  #card-slider.web .swiper-wrapper {
    margin-left: -200px;
  }
  #card-slider.web .swiper-slide {
    height: auto;
  }
}
@media screen and (max-width: 1200px) {
  .main-brands .brand-img img {
    max-width: 130%;
    height: auto;
  }
  #blog img {
    width: 100%;
    height: auto;
  }
  .author {
    padding: 0px 10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .corporate-seo-box {
    height: 500px;
  }
}
@media screen and (max-width: 992px) and (min-width: 565px) {
  #faq.marketing {
    padding-bottom: 600px;
    margin-bottom: -600px;
    border-radius: 0;
  }
}
@media screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .navbar-collapse.navbar-mobile {
    display: none !important;
  }
  #web-design-service > div > div > div:first-child {
    margin-right: -40px;
    z-index: 9999;
  }
}
@media screen and (max-width: 992px) {
  #seo-tools > div > div {
    row-gap: 25px;
  }
  #offer iframe {
    width: 240px !important;
  }
  ul.dropdown-menu.show {
    color: #fff !important;
    border: none;
    background-color: #4b1d87;
  }
  .dropdown-item {
    color: #fff;
  }
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: transparent;
  }
  section {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header-logo {
    width: 80%;
  }
  #card-slider {
    margin: 0%;
  }
  #card-slider.web .swiper-slide {
    max-width: 100% !important;
  }
  #card-slider.web .swiper-wrapper,
  #card-slider .swiper-wrapper {
    margin-left: 0px;
  }
  #card-slider .swiper-button-next,
  .swiper-button-prev {
    background-image: url(https://www.seopix.net/front/assets/images/prev-min.svg);
    width: 30px !important;
    height: 30px !important;
  }
  #exampleBrands > div > div:first-child {
    padding: 0px;
  }
  #exampleBrands > div > div > .results {
    width: 100%;
    padding: 0;
  }
  .brands-second-div {
    border: none !important;
  }
  .responsiveImg {
    max-width: 100%;
    height: auto;
  }
  .heading2 {
    font-size: 18px;
    margin: 0;
  }
  footer {
    padding-top: 235px;
  }
  .corporate-seo .seo-breadcrumb {
    width: 60%;
  }
  #finder-tools .tools-step > div {
    row-gap: 12.5px;
    padding: 0 10px;
  }
  #finder-tools .tools-box {
    width: 49%;
  }
  #finder-tools .tools-box .title {
    font-size: 18px;
    line-height: 24px;
  }
  #finder-tools .tools-box .text {
    font-size: 15px;
  }
  #finder-tools .tools-box img {
    width: 42px;
    height: 42px;
  }
  .counter {
    font-size: 40px;
    letter-spacing: 1.5px;
  }
  .counter-text {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  #header.web-design {
    height: 530px;
  }
  #header.row-finder,
  #header.about,
  #header.corporate-seo,
  #header {
    height: 500px;
  }
  #header > div > div > h1 {
    font-size: 34px;
  }
  #header > div > h1 {
    font-size: 37.5px;
    line-height: 48px;
  }
  #header.main > div > h1 {
    font-size: 30px;
    line-height: 40px;
  }
  #header > div > div > p {
    text-align: center;
    font-size: 17.5px;
    line-height: 23px;
  }
  #header > div > p {
    width: 85%;
    font-size: 17.5px;
    line-height: 23px;
  }
  .gray-field,
  .white-field {
    width: 70%;
  }
  .seo-breadcrumb {
    width: 60%;
  }
  .corporate-seo .seo-breadcrumb {
    width: 72.5%;
  }
  .seo-breadcrumb a {
    font-size: 14px;
  }
  .regular-title {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .heading {
    font-size: 18.5px;
  }
  #web-design-content {
    margin-top: -55px;
  }
}
@media screen and (max-width: 640px) {
  #exampleBrands > div > div > .plain-text {
    margin-top: 0px;
    width: 88%;
  }
  #offer form .form-info .plain-text {
    width: 90%;
  }
  #offer form .form {
    padding: 20px;
  }
  .seo-customer-box {
    width: 100%;
  }
}
@media screen and (max-width: 465px) {
  #seo-contents .start-text {
    font-size: 17px;
    line-height: 25px;
}
  #seo-contents .sub-list p,
  #seo-contents .seo-questions p {
    font-size: 17px;
  }
  #seo-contents .seo-questions li {
    padding-left: 10px;
    font-size: 15.5px;
  }
  #seo-contents .examples {
    padding-left: 0px;
    font-size: 15.5px;
  }
  #seo-contents .plain-text {
    font-size: 15.5px;
  }
  #seo-contents .subject span {
    font-size: 16.5px;
  }
  #seo-contents .subject p {
    font-size: 20px;
  }
  #seo-contents .subject img {
    width: 90px;
  }
  #seo-contents .purple-text {
    margin: 30px 0;
    font-size: 16.5px;
  }
  .img-purple {
    padding: 10px;
  }
  #header.row-finder .header-main {
    top: 42%;
  }
  #header > div > div > h1,
  #header > div > h1 {
    font-size: 30px;
    line-height: 40px;
  }
  #header.web-design > div > h1,
  #header.main > div > h1 {
    font-size: 25px;
    line-height: 34px;
  }
  #header > div > div > p,
  #header > div > p {
    font-size: 15.5px;
  }
  .bg-yellow-text {
    font-size: 14px;
    padding: 6px 15px;
  }
  .regular-title {
    font-size: 15px;
    letter-spacing: 0.05em;
  }
  .bold-title {
    font-size: 20.5px;
  }
  .plain-text {
    text-align: justify !important;
    font-size: 15px;
    line-height: 22px;
  }
  .arrow-button-yellow {
    padding: 5px 6px 5px 16px;
    font-size: 14.5px;
  }
  .arrow-button-yellow i {
    font-size: 18px;
    padding: 6px 7px;
  }
  .arrow-button-purple {
    padding: 5px 6px 5px 30px;
    gap: 16px;
    font-size: 16.5px;
  }
  .arrow-button-transparent {
    font-size: 16.5px;
  }
  .arrow-button-transparent i,
  .arrow-button-purple i {
    font-size: 24px;
    padding: 6.5px;
  }
  .circle-button-transparent {
    font-size: 16.5px;
  }
  .circle-button-transparent i {
    font-size: 20px;
    padding: 3px 9px;
  }
  .icon-button-purple {
    padding: 18px;
    padding-right: 0px;
    font-size: 18px;
    gap: 18.5px;
    line-height: 24px;
    max-width: 300px;
  }
  .icon-button-purple img {
    width: 38px;
    height: 38px;
  }
  .arrow-button-gray.active {
    padding: 6px 6px 6px 28px;
    font-size: 20px;
  }
  .arrow-button-gray {
    font-size: 20px;
  }
  #card-slider .swiper-slide.swiper-slide-active .arrow-button-purple {
    padding: 5px 8px 5px 34px;
    font-size: 15.5px;
  }
  #card-slider .swiper-slide {
    padding: 34px !important;
  }
  #card-slider .swiper-slide:nth-child(2) img,
  #card-slider .swiper-slide:nth-child(4) img,
  #card-slider .swiper-slide:nth-child(5) img {
    opacity: 0.4;
  }
  #card-slider.web .swiper-slide {
    height: auto;
    padding: 30px !important;
  }
  #card-slider.web .swiper-slide .bold-title,
  #card-slider .swiper-slide .bold-title {
    font-size: 25px;
    line-height: 33px;
  }
  #card-slider .swiper-slide .plain-text {
    padding: 0px 4px;
    width: 100%;
  }
  #card-slider .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, 6px);
  }
  #card-slider .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, 6px);
  }
  #offer form .form-info .bold-title {
    font-size: 24.5px;
    line-height: 34px;
  }
  #offer form .form-info .plain-text {
    width: 100%;
  }
  .footer-text,
  .footer-text span {
    text-align: justify;
    width: 100%;
    font-size: 15px;
  }
  .contact-text {
    font-size: 18.5px;
  }
  .main-brands .brand-img img {
    max-width: 110%;
  }
  .corporate-seo .seo-breadcrumb {
    width: 80%;
    left: -5%;
  }
  .seo-breadcrumb {
    width: 83%;
  }
  #faq .accordion-body {
    padding-left: 30px;
    padding-right: 30px;
  }
  #faq .bold-title {
    width: 70%;
    line-height: 30.5px;
  }
  #faq .plain-text {
    width: 86%;
  }
  #finder-tools .sub-title {
    font-size: 15.5px;
    line-height: 24px;
  }
  #finder-tools .tools-box .title {
    font-size: 16px;
    line-height: 20px;
  }
  #finder-tools .tools-box .text {
    font-size: 14px;
  }
  #finder-tools .tools-box img {
    width: 36px;
    height: 36px;
  }
  #row-finder-tool .table thead th span {
    font-size: 14px;
    padding: 4px 14px;
  }
  #row-finder-tool a,
  #row-finder-tool .table tbody tr td:first-child {
    font-size: 14px;
  }
  #row-finder-tool .table tbody tr td {
    padding: 12px 0px;
  }
  #row-finder-tool .green-text {
    font-size: 15px;
    line-height: 22px;
  }
  #row-finder-tool > div:first-child {
    margin-top: -200px;
  }
  #row-finder-tool .heading {
    font-size: 16px;
    line-height: 26px;
  }
  #row-finder-tool .form-select,
  #row-finder-tool .form-control {
    padding: 16px 22px;
    font-size: 14px;
  }
  #row-finder-tool {
    padding: 60px 0;
  }
  #faq.marketing.purple-field .title,
  .corporate-seo-box .title {
    font-size: 22px;
  }
  .corporate-seo-box img {
    width: 45px;
    height: 45px;
  }
  #faq.marketing.purple-field .plain-text {
    font-size: 17px;
  }
  .modal-body .title {
    font-size: 15px;
  }
  #teklifModal .form-select,
  .form-control {
    padding: 12px 18px;
  }
  #teklifModal .form-select,
  .form-control {
    font-size: 14px;
  }
  .counter {
    font-size: 35px;
    letter-spacing: 1px;
  }
  .counter-text {
    font-size: 14.5px;
  }
  #seo-tools img {
    width: 66%;
    height: auto;
  }
  .principles .bold-title {
    font-size: 19.5px;
  }
  .round-card-button img {
    width: 52px;
    height: 52px;
  }
  #web-design-content .round-card-button .body,
  .round-card-button .body {
    padding: 30px 26.5px 42px 26.5px;
  }
  #web-design-content > img {
    min-height: 650px;
  }
}
